<footer id="footer">
    <div class="wrapper">
        <ul>
            <li>Contact us: <a href="mailto:bwdesignconf@bloomberg.net">bwdesignconf@bloomberg.net</a></li>
            <li><a href="http://www.bloomberg.com/company/press-releases/bloomberg-businessweek-design-2015-headliners-include-ayah-bdeir-michael-bierut-tim-brown-robert-brunner-matias-duarte-bjarke-ingels-chip-kidd-evan-sharp-ev-williams/?utm_source=rss&utm_medium=rss&utm_campaign=bloomberg-businessweek-design-2015-headliners-include-ayah-bdeir-michael-bierut-tim-brown-robert-brunner-matias-duarte-bjarke-ingels-chip-kidd-evan-sharp-ev-williams" target="_blank">Press Release</a></li>
            <li><a href="" target="_blank"></a></li>
            <li><a href="" target="_blank"></a></li>
            <li><a href="" target="_blank"></a></li>
        </ul>
    </div>
</footer>