<footer id="footer">
    <div class="wrapper">
    	<div class="left">
	        <ul>
	            <li>Contact us: <a href="mailto:bwdesignconf@bloomberg.net">bwdesignconf@bloomberg.net</a></li>
	            <li> / <a href="http://www.bloomberg.com/company/2015-04-14/26-world-class-designers-to-headline-bloomberg-businessweek-design-2015-in-san-francisco-on-april-28/" target="_blank">Press Release</a></li>
	            <li><a href="" target="_blank"></a></li>
	            <li><a href="" target="_blank"></a></li>
	            <li><a href="" target="_blank"></a></li>
	        </ul>
		</div>
		<div class="right">
			<ul>
				<li>Sponsored by:</li>
			</ul>
			<div id="sponsors">
	            <div><img id="att" src="static/img/att.png" /></div>
				<div><img id="cadillac" src="static/img/cadillac.png" /></div>
				<div><img id="qualcomm" src="static/img/qualcomm.png" /></div>
	        </div>
		</div>
    </div>
</footer>