    <header id="header">
        <div class="wrapper">
            <div id="info">
                <div id="logo">
                    <h1>Bloomberg</h1>
                    <h1>Businessweek</h1>
                    <h1>Design 2015</h1>
                </div>
                <div id="datetime">
                    <h2>April 28, 2015</h2>
                    <h2>Yerba Buena Center</h2>
                    <h2>San Francisco</h2>
                </div>
            </div>
            <div id="buytickets">
                <div><a href="https://www.regonline.com/Register/Checkin.aspx?EventID=1617238" target="_blank"><button>BUY TICKETS</button></a></div>
            </div>
            <div class="menu">
                <a href="http://twitter.com/BW" target="_blank">
                    <div id="hashtag" style="right:0px;">#bwdesign2015</div>
                    <div class="box-shadow-menu"></div>
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/speakers">Speakers</a></li>
                    <li><a href="/schedule">Schedule</a></li>
                    <li class="last"><a href="/location">Location</a></li>
                </ul>
            </nav>
        </div>
    </header>